html, body{
	height: 100%;
}

.btr {
border-top-right-radius: 5px !important
}
.btl {
border-top-left-radius: 5px !important
}
.btn-dark {
color: #fff;
background-color: #0d6efd;
border-color: #0d6efd
}
.btn-dark:hover {
color: #fff;
background-color: #0d6efd;
border-color: #0d6efd
}
.nav-pills {
display: table !important;
width: 100%
}
.nav-pills .nav-link {
border-radius: 0px;
}
.nav-item {
display: table-cell;
}
.form {
padding: 10px;
height: 300px
}
.form input {
margin-bottom: 12px;
border-radius: 3px
}
.form input:focus {
box-shadow: none
}
.form button {
margin-top: 20px
}
